on init
    # for sensors cache.
    mkdir /sensors_cache 0700 root system
    mount tmpfs tmpfs /sensors_cache mode=0755,gid=1000

    mkdir /bootloader 0000 system system

on post-fs-data
    start bootclone
    start precopy

on property:sys.boot_completed=1
    start preinstall

service bootclone /sbin/busybox sh /system/bin/bootclone.sh
    user root
    group root
    oneshot
    disabled

service precopy /sbin/busybox sh /system/bin/precopy.sh
    user root
    group root
    disabled
    oneshot

service preinstall /sbin/busybox sh /system/bin/preinstall.sh
    user root
    group root
    disabled
    oneshot

on early-init

# create log points
    mkdir /logger 0700 root root

on fs

service charger /charger
    class charger

service logger_kernel /system/bin/logger.sh kernel
    user root
    disabled
    oneshot

service logger_android /system/bin/logger.sh android
    user root
    disabled
    oneshot

service logger_service /system/bin/log_service
    class main
    user root
    disabled
    oneshot

service logger_private /system/bin/log_service private
    class main
    user root
    oneshot

# dhcp service
service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
